# ----------------------------------------
# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------
# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# ----------------------------------------
# IDE / Editors
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# ----------------------------------------
# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/
*.egg
MANIFEST
wheels/
*.manifest
*.spec

# ----------------------------------------
# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & static (user uploads, collected static)
media/
staticfiles/
static/  # если статику собираешь в static/

# Secrets
.env
.env.*
*.env

# ----------------------------------------
# Test / Coverage / Type check
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/
.mypy_cache/
.pytype/
.pyre/
dmypy.json

# ----------------------------------------
# Jupyter
.ipynb_checkpoints

# ----------------------------------------
# Celery
celerybeat-schedule
celerybeat.pid

# ----------------------------------------
# VSCode / Cursor / Abstra
.cursorignore
.cursorindexingignore
.abstra/
.ruff_cache/
