{% extends 'base.html' %}
{% block title %} - Консультация{% endblock %}
{% block content %}
    {% load static %}
    <header id="header">
        <div class="container">
            <div class="header ficb">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo"></a>
                <nav>
                    <ul class="menu ficc">
                        <li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
                        <li class="menu__item"><a href="{% url 'quiz' %}" class="menu__item_link">Рекомендации</a></li>
                        <li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="singUpConsultation">
        <div class="container">
            <div class="singUpConsultation">
                <form action="{% url 'consultation' %}" method="post" class="singUpConsultation__form">
                    {% csrf_token %}
                    <div class="title">Запись на консультацию</div>
                    {% if form.name.errors %}
                        <span style="color: red;">{{ form.name.errors.0 }}</span>
                    {% endif %}
                    <input type="text" name="name" class="consultation__form_input" placeholder="Введите Имя" value="{{ form.name.value|default:'' }}" required>
                    {% if form.phone.errors %}
                        <span style="color: red;">{{ form.phone.errors.0 }}</span>
                    {% endif %}
                    <input type="text" name="phone" class="consultation__form_input" placeholder="+7 (999) 000 00 00" value="{{ form.phone.value|default:'' }}" required>
                    <div class="chekbox fic">
                        <input type="checkbox" name="agree" class="singUpConsultation__ckekbox" checked required>
                        <span class="chekbox__intro">Я согласен(а) с политикой конфиденциальности</span>
                    </div>
                    <button type="submit" class="btn singUpConsultation__form_btn">Отправить</button>
                </form>
                <div class="blockImgHiden"></div>
            </div>
        </div>
        <img src="{% static 'img/singUpConsultationImg.jpg' %}" alt="singUpConsultationImg" class="singUpConsultation__img">
    </section>
    <footer id="footer">
        <div class="container">
            <div class="footer">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo footer__logo"></a>
                <nav>
                    <ul class="menu footer__menu ficc">
                        <li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
                        <li class="menu__item"><a href="{% url 'quiz' %}" class="menu__item_link">Рекомендации</a></li>
                        <li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
                    </ul>
                </nav>
                <hr class="line"></hr>
                <a href="#" class="footer__poli">Политика конфиденциальности</a>
                <p class="footer_cop">©️2025. FlowerShop. Все права защищены</p>
            </div>
        </div>
    </footer>
{% endblock %}